

<!-- PASOS

    0. bower install angular
       bower install bootstrap (Instala tambien el jquery)
       bower install jquery (Muestra errores en Netbeans)
       bower install angular-route

    1. Desde la consola NODE.JS, pararse en Recursos y escribir
       bower install firebase para instalar complementos de angular, 
       con esto se crea la carpeta bower_components

    2. Luego bower install angularfire para instalar complementos de 
       angular
-->


<!-- ng-app: Aplicacion angular   ng-model: Modelo angular -->
      
        <!-- Recorrer el listado de tareas, e insertar code por cada una -->
        <div ng-controller="ControladorTareasDB">

            <!--Muestra el total de tareas-->
            <h1>{{contarTareasRestantes()}} de {{tareas.length}}</h1>
            <button class="btn btn-danger" type="button" 
                    ng-click="eliminarTareasRealizadas()">Eliminar tareas realizadas</button>
            <br>
            <br>


            <ul>
                <!-- Recorre el listado de tareas, y por cada elemento incrusta
                el codigo que se encuentra dentro del LI-->
                <li ng-repeat="obj in tareas">
                    <label class="hecho-{{obj.hecho}}">{{obj.texto}}</label>
                    <input type="checkbox" ng-model="obj.hecho">                                        
                </li>
            </ul>  


            <form ng-submit="agregarTarea()">
                <input type="text" size="30" placeholder="Agregar una nueva tarea"
                       ng-model="txtNuevaTarea">
                <button class="btn btn-primary" type="submit">Agregar</button>
            </form>
        </div>       